// Layout
//
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem 1rem 3rem;

  @media (min-width: $screen-lg-desktop) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 1600px) {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

.page--header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

  .page--header--icon {
    margin-right: 1rem;
    flex-shrink: 0;
  }

  .page--header--title {
    font-size: $font-size-h1;
    margin: 0;
  }

.page--footer {
  margin-top: 2rem;
}

// Elements
//
hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid $border-color-light;
}
