::placeholder {
  color: $color-gray-light;
}

.form_field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: $input-height;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;

  &.inline {
    width: auto;
    display: inline-flex;
    vertical-align: top;
    margin-right: 1rem;
  }

  &.checkbox,
  &.radio {
    margin-bottom: 0;
    align-items: baseline;

    input[type='checkbox'],
    input[type='radio'] {
      display: none;

      &:checked ~ label:before {
        height: $input-check-size / 2;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $input-check-checked-border-color;
        border-left-color: $input-check-checked-border-color;
        transform: rotate(-45deg) translateY(-1px);
      }
    }

    input[type='radio'] {
      &:checked ~ label:before {
        border-radius: 0;
      }
    }

    label {
      position: static;
      padding-left: 1.5rem;
      line-height: $line-height;
      white-space: normal;
      width: auto;
      overflow: visible;

      &:before {
        position: absolute;
        top: 2px;
        left: 0;
        content: '';
        display: block;
        margin: 0;
        margin-right: 0.5rem;
        width: $input-check-size;
        height: $input-check-size;
        border-width: $input-check-border-width;
        border-style: solid;
        border-color: $input-check-border-color;
        cursor: pointer;
        transition: $form-field-transition;
        transform: rotate(0deg);
        transform-origin: 60% 30%;
      }
    }
  }

  &.radio label:before {
    border-radius: 50%;
  }

  .icon {
    margin-right: 1rem;
    flex-grow: 0;
    flex-shrink: 0;

    & ~ label {
      left: 40px;
    }

    & ~ .form_field--error {
      margin-left: 40px;
    }
  }

}

label {
  position: absolute;
  width: 100%;
  line-height: $input-height;
  font-size: 1rem;
  color: $color-gray-light;
  cursor: pointer;
  user-select: none;
  transition: $form-field-transition;
  @include text-overflow();

  .form_field.active & {
    transform: translateY( - 0.85rem );
    font-size: 0.85rem;
    line-height: 1;
  }

  .form_field.is-invalid & {
    color: $color-error;
  }

  .form_field[required] &:before {
    content: '* ';
  }
}

input,
textarea,
select {
  position: relative;
  display: block;
  flex-grow: 1;
  max-width: 100%;
  height: $input-height;
  line-height: $input-line-height;
  padding: 0;
  margin: 0;
  appearance: none;
  font-family: inherit;
  font-size: $input-font-size;
  color: $input-color;
  text-indent: $input-text-indent;
  background-color: transparent;
  border: none;
  box-shadow: 0 1px $input-border-color;
  transition: $form-field-transition;

  &:focus {
    outline: none;
    box-shadow: 0 1px $input-border-color-focus;
  }

  &[disabled],
  &[readonly] {
    color: $color-gray-light;
  }

  &[disabled] {
    cursor: $cursor-disabled;
  }

  .is-invalid & {
    box-shadow: 0 1px $input-border-color-error;
  }
}


textarea {
  height: auto;
  min-height: $textarea-min-height;
  line-height: $textarea-line-height;
  padding: 0.75rem 0;
}


select {
  cursor: pointer;
  color: $color-gray-light;

  & option {
    color: $color-gray;
  }
}


// ===========================
// #CustomSelect
// ===========================
//
.select {

  @include caret();

  input {
    padding-right: 1.5rem;
  }
}


// Form field message error
.form_field--error {
  display: none;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: $color-error;
  font-size: 0.85rem;

  .form_field.is-invalid & {
    display: block;
  }
}

