label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #999;
  transition: all .3s;

  &.active{
    transform: translateY( - $input-height + $input-font-size );
    font-size: 12px;
  }
}

::placeholder {
   color: #999;
}

.input_field {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
}

input, textarea, select {
  position: relative;
  display: block;
  width: 100%;
  height: $input-height;
  line-height: $input-height;
  padding: 0;
  margin: 0;
  font-size: $input-font-size;
  background-color: transparent;
  color: #333;
  text-indent: $input-text-indent;
  border: none;
  box-shadow: 0 1px $input-border-color;
  transition: all .3s;
  appearance: none;

  &:hover {
    border-color: darken( $input-border-color, 10% );
  }

  &:focus {
    box-shadow: 0 1px $input-hover-border-color;

    & + label {
      color: $color-primary;
    }
  }

  &[disabled],
  &[disabled] + label,
  &[readonly],
  fieldset[disabled] & {
    color: #999;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}

textarea {
  height: auto;
  min-height: 70px;
  line-height: 1.4;
  padding-top: ($input-height - $input-font-size) / 2;
}

select {
  cursor: pointer;
  color: #999;

  & option {
    color: #666;
  }
}

/*
===========================
#CustomSelect
===========================
*/
.custom_select {
  position: relative;
  display: block;
  width: 100%;
  margin: 20px 0 15px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  select {
    appearance: inherit;
  }
}

