// Custom Icons
.icon__caret {
  display: inline-block;
  margin-left: 4px;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}


// Devices Visibility
.visible_tablet {
  display: none !important;
  @media (min-width: $screen-phone) {
    display: flex !important;
  }
}


// Responsive images (ensure images don't scale beyond their parents)
.img_responsive {
  display: block;
  max-width: 100%;
}

// Perfect circle
.img_circle {
  border-radius: 50%;
}


// Define white space normal - Ex: Table cell
.white_space__normal {
  white-space: normal;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}