.nav_bar {
  display: flex;
  min-height: $nav_height;
  background: $nav_bg;
  flex-wrap: wrap;

  @media (min-width: $screen-phone + 1) {
    flex-wrap: nowrap;
  }
}

.nav {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: $nav_height;
  flex-shrink: 0;

  &.nav__header {
    flex-shrink: 2;
  }

  &.nav__control_area {
    flex-shrink: 1;
    order: 99;
    justify-content: space-between;

    @media (min-width: $screen-phone + 1) {
       order: 0;
    }
  }

  &.nav__search {
    display: none;
    @media (min-width: $screen-tablet + 1) {
      display: flex;
      flex-grow: 1;
      align-items: center;
      max-width: 600px;
      padding: 0 1rem;
    }

    input[type="text"] {
      border: 0;
      padding: 0;
      width: 100%;
      height: 34px;
      line-height: 34px;
      text-indent: 12px;
      font-size: 13px;
      background: #fff;
      border-radius: 3px;
    }
  }

  &.nav__right {
    margin-left: auto;
  }

  li {
    display: flex;
    align-items: stretch;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    padding: 0 1rem;

    img {
      display: block;
      max-width: 100%;
      max-height: $nav_height / 1.66;
    }
  }

  .nav-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0 1rem;
    color: $nav_link_color;
    color: $nav_link_color;
    text-align: center;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
      color: darken( $nav_link_color, 40% );
      background: rgba(black, 0.1);
      text-decoration: none;
    }

    &.nav-btn_toogle {
      @media (min-width: $screen-tablet + 1) {
        display: none;
      }
    }

  }

  .nav-btn-icon {
    font-size: 24px;
  }

  .nav-btn-text {
    display: inline-block;
    margin-left: 4px;
  }


}