//
// Reset
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
*,
*:before,
*:after {
  box-sizing: border-box;
}


/*
 * Make html take up the entire screen
 * Then set touch-action to avoid touch delay on mobile IE
 */
html {
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/*
* Make body take up the entire screen
*/
body {
  width: 100%;
  min-height: 100%;
}

/*
 * Main display reset for IE support.
 * Source: http://weblog.west-wind.com/posts/2015/Jan/12/main-HTML5-Tag-not-working-in-Internet-Explorer-91011
 */
main {
  display: block;
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images
img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
// .img-responsive {
//   @include img-responsive;
// }

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}


// Horizontal rules
hr {
  margin-top:    24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid $border-color-light;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}