//
// ==================================
// #CSS-TOOLTIP
// ==================================
//
// Example:
// <a href="#" data-toggle="tooltip" data-title="I'm a CSS Tooltip!">Hover me</a>

// Styles
//
[data-toggle="tooltip"] {
  position: relative;
  box-sizing: border-box;

  &:before,
  &:after {
  }

  &:after {
    content: attr(data-title);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    position: absolute;
    bottom: 100%;
    left: 0%;
    z-index: 9;
    max-width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    line-height: normal;
    background: #333;
    color: rgba(#fff, 0.8);
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 4px 8px;
    transform-origin: bottom left;
    transition: all .2s ease-in-out;
  }

  &:hover:after,
  &:focus:after {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &[data-position="right"] {
    &:before,
    &:after {
      left: auto;
      right: 0%;
      transform-origin: top right;
    }
    &:after {
      border-radius: 1em 1em 0 1em;
      transform-origin: bottom right;
    }
  }

}
