//
// ==================================
// #CSS-TOOLTIP
// ==================================
//
// Example:
// <a href="#" data-toggle="tooltip" data-title="I'm a CSS Tooltip!">Hover me</a>

// Styles
//
[data-toggle="tooltip"] {
  position: relative;

  &:after {
    content: attr(data-title);
    visibility: hidden;
    opacity: 0;
    position: absolute; // Mudar para 'fixed' após criado o componente
    top: 100%;
    left: 0;
    z-index: 99;
    max-width: 280px;
    min-width: 280px; // Remover após criado o componente
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    overflow: hidden;

    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    background: #333;
    color: rgba(#fff, 0.8);
    border-radius: 3px;
    box-shadow: $elevation-3;

    transition-property: opacity, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-out;
  }

  &[data-position="top"] {
    &:after {
      top: auto;
      bottom: 100%;
    }
  }

  &[data-position="right"] {
    &:after {
      left: auto;
      right: 0;
    }
  }

  &:hover:after,
  &:focus:after {
    visibility: visible;
    opacity: 1;
  }

}
