// ===============================
// Variables
// ===============================

// Colors
//
$color-primary: #334455  !default;
$color-secondary: #554833 !default;

$color-success: #7cb342  !default;
$color-information: #3498db  !default;
$color-warning: #ed9c20  !default;
$color-error: #c0392b  !default;

$color-gray: #666 !default;
$color-gray-dark: #333;
$color-gray-light: #999 !default;

//TO DO
$color-white-2: #fff;
$color-white-4: #fff;
$color-white-dark: #fff;
$border-color-light: #fff;
$inherit-color:#fff;
$text-smooth: #fff;
$line-height-computed: 0;


// Scaffolding
//
$body-bg: #fefefe;
$text-color: $color-gray-dark;
$link-color: $color-primary;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;


// Typography
//
$font-family: "Roboto", Arial, sans-serif;
$font-size: 1.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.2rem;

$font-size-h1: 3.6rem;
$font-size-h2: 3.0rem;

$line-height: $font-size / 10;
$font-bold: 500;

$font-weight-h1: 300;
$font-weight-h2: 500;
$headings-line-height: 1.1;


// Tables
//** Padding for `<th>`s and `<td>`s.
//
$table-cell-padding: 8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 5px;

//** Default background color used for all tables.
$table-bg: transparent;
//** Background color used for `.table-striped`.
$table-bg-accent: $color-white-2;
//** Background color used for `.table-hover`.
$table-bg-hover: $color-white-4;
$table-bg-active: $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color: #ddd;


// Buttons
//
$button-font-weight: 400;

$button-default-color: #333;
$button-default-bg: $color-white-dark;
$button-default-border: $border-color-light;

$button-primary-color: rgba(#fff, 0.9);
$button-primary-bg: $color-primary;
$button-primary-border: darken($button-primary-bg, 4%);

$button-secondary-color: #fff;
$button-secondary-bg: $color-secondary;
$button-secondary-border: darken($button-secondary-bg, 4%);

$button-link-disabled-color: $color-gray;

$button-height: 36px;
$button-padding: 8px;
$button-margin: 4px;
$button-border-radius: 2px;


// Form controls
//
$input-bg: #fff;
$input-bg-disabled: $color-gray-light;
$input-font-size: $font-size;
$input-text-indent: 0;
$input-color: $text-color;
$input-color-placeholder: $color-gray-light;

$input-height: 36px;
$input-height-large: 48px;
$input-height-small: 30px;
$input-border-width: 1px;
$input-border-color: $color-white-dark;
$input-hover-border-color: $color-primary;
$input-border-focus: $color-primary;
$input-border-radius: 0;
$input-line-height: 1;

$textarea-line-height: $line-height;

$form-group-margin-bottom: 15px;

$cursor-disabled: not-allowed;


// Border radius
//
$border-radius-large: 50%;


// Media queries breakpoints
//
$break-phone: 480px;
$break-tablet: 768px;
$break-desktop: 992px;
$break-large-desktop: 1200px;

