// ===============================
// Variables
// ===============================

// Colors
//
$color-primary: #334455 !default;
$color-secondary: #366261 !default;

$color-success: #7cb342  !default;
$color-information: #3498db  !default;
$color-warning: #ed9c20  !default;
$color-error: #c0392b  !default;

$color-gray: #666 !default;
$color-gray-dark: #333;
$color-gray-light: #999 !default;

$color-white-2: darken(#fff, 2%); // #FAFAFA
$color-white-4: darken(#fff, 4%); // #F5F5F5
$color-white-5: darken(#fff, 5%); // #F0F0F0
$color-white-10: darken(#fff, 10%); // #E6E6E6
$color-white-15: darken(#fff, 15%); // #D9D9D9
$color-white-20: darken(#fff, 20%); // #CCCCCC

$border-color-light: $color-white-10;


// Scaffolding
//
$body-bg: #fefefe;
$text-color: $color-gray-dark;
$link-color: $color-primary;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$border-radius-large: 50%;

$transition: all 0.2s;


// Typography
//
$font-family: "Roboto", Arial, sans-serif;
$font-size: 16px;
$font-size-large: 1.8rem;
$font-size-small: 1.2rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;

$line-height: 1.25;
$font-bold: 500;

$font-weight-h1: 100;
$font-weight-h2: 300;
$headings-line-height: 1.1;


// Button
//
$button-font-weight: 400;

$button-border: 1px solid rgba(0, 0, 0, 0.0875);

$button-color: #333;
$button-background: $color-white-2;
$button-background-hover: darken($button-background,8%);
$button-background-active: darken($button-background-hover,8%);
// $button-border-color: $border-color-light;

$button-primary-color: rgba(#fff, 0.95);
$button-primary-background: $color-primary;
$button-primary-background-hover: lighten($button-primary-background,8%);
// $button-primary-border: darken($button-primary-bg, 4%);

$button-accent-color: rgba(#fff, 0.95);
$button-accent-background: $color-secondary;
$button-accent-background-hover: lighten($button-accent-background,8%);
// $button-accent-border: darken($button-secondary-bg, 4%);

$button-link-disabled-color: $color-gray;

$button-height: 3rem;
$button-height-small: 2rem;
$button-height-large: 4rem;

$button-line-height: 1.15em;
$button-line-height-small: 0.875em;
$button-line-height-large: 1.125em;

$button-font-size: 1rem;
$button-font-size-small: 0.875rem;
$button-font-size-large: 1.125rem;

$button-padding-horizontal: 1em;
$button-margin: 1rem;
$button-border-radius: 3px;

$button-transition: all 0.4s;


// Tables
//
$table-font-size: 0.875rem;
$table-header-font-size: 1rem;
$table-header-color: $color-gray;
$table-row-height: 3rem;
$table-column-padding: 18px;
$table-cell-top: 12px;
$table-accent-color: $color-white-2;
$table-hover-color: $color-white-4;
$table-selection-color: $color-white-4;
$table-dividers: 1px solid rgba(0,0,0,.1);


// Form controls
//
$form-field-transition: all 0.2s;
$input-bg: #fff;
$input-bg-disabled: $color-gray-light;
$input-font-size: 1rem;
$input-text-indent: 0;
$input-color: $text-color;
$input-color-placeholder: $color-gray-light;

$input-height: 2.5rem;
$input-height-small: 2rem;
$input-height-large: 3rem;

$input-border-color: $color-white-20;
$input-border-color-focus: $color-primary;
$input-border-color-error: $color-error;
$input-line-height: $input-height;

$textarea-min-height: 4rem;
$textarea-line-height: $line-height;

$cursor-disabled: not-allowed;

$input-check-size: 16px;
$input-check-border-width: 2px;
$input-check-border-color: $color-gray-light;
$input-check-checked-border-color: #3CB371;
$input-check-disabled-border-color: $color-white-15;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         2rem !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet: (720px) + ($grid-gutter-width / 1rem) !default;
//** For `$screen-sm-min` and up.
$container-sm: $container-tablet !default;

// Medium screen / desktop
$container-desktop: (940px) + ($grid-gutter-width / 1rem) !default;
//** For `$screen-md-min` and up.
$container-md: $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop: (1140px) + ($grid-gutter-width / 1rem) !default;
//** For `$screen-lg-min` and up.
$container-lg: $container-large-desktop !default;


//== List
//
$list-items-height: $input-height;
$list-items-color: $text-color;
$list-items-hover-color: #fff;
$list-items-hover-bg-color: #789;


// Shadow elevation
//
$elevation-1: 2px;
$elevation-2: 4px;
$elevation-3: 8px;
$elevation-4: 16px;
$elevation-5: 24px;