//
// Component Variables
//
$global-font-size: 16px;
$global-transition: all 0.2s;
$global-border-color: #ddd;

$drop-toggle-border-color: #e6e6e6;
$caret-size: 8px;
$caret-border-width: $caret-size / 2;

$controls-color: #666;
$controls-hover-color: #333;

$input-height: 36px;

$list-items-height: $input-height;
$list-items-color: #333;
$list-items-hover-color: #fff;
$list-items-hover-bg-color: #789;