// ===============================
// Component Style
// Component name: br-selectbox
// ===============================

@import 'variables';


:host {
  user-select: none;
}

:focus {
  outline: none;
}

.drop-toggle {
  position: relative;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  padding-right: $caret-size;
  appearance: none;
  background: none;
  border: none;
  border-bottom: 1px solid $drop-toggle-border-color;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: $global-transition;
    box-sizing: border-box;

  &:hover,
  &:focus,
  &:active {
    border-color: darken($drop-toggle-border-color, 30%);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: ($caret-border-width / 2) * -1;
    border-top: $caret-border-width solid;
    border-right: $caret-border-width solid transparent;
    border-left: $caret-border-width solid transparent;
  }
}

.drop-overlay {
  display: none;

  &.open {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
    background: rgba(#000,0.7);
    box-sizing: border-box;
  }
}

.drop-content {
  display: flex;
  flex-direction: column;
  min-width: 320px - ($global-font-size * 2);
  max-width: 480px;
  max-height: 100%;
  overflow: hidden;
  background: #F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px 2px;
  box-sizing: border-box;

  .controls {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 2rem;
    align-items: stretch;
    border-bottom: 1px solid $global-border-color;

    button {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0 0.5rem;
      appearance: none;
      background: none;
      border: none;
      line-height: 2rem;
      font-size: 1rem;
      font-weight: bold;
      color: $controls-color;
      cursor: pointer;
      transition: $global-transition;
      box-sizing: border-box;

      &:hover,
      &:focus,
      &:active {
        color: $controls-hover-color;
      }
    }
  }

  input {
    display: block;
    width: 100%;
    height: $input-height;
    padding: 0 1rem;
    border: none;
    background: none;
    transition: $global-transition;
    box-sizing: border-box;

    &:hover,
    &:focus {
      background-color: #fff;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    border-top: 1px solid $global-border-color;
  }

  li {
    display: block;
    height: $list-items-height;
    line-height: $list-items-height;
    padding: 0 1rem;
    color: $list-items-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: $global-transition;

    &+li {
      border-top: 1px solid $global-border-color;
    }

    &:hover,
    &:focus,
    &:active,
    &.is_selected {
      background: $list-items-hover-bg-color;
      color: $list-items-hover-color;
    }
  }
}

.icon {
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
}