<link rel="import" type="html" href="../vendor/iron-icon/iron-icon.html">
<link rel="import" type="html" href="../vendor/iron-iconset-svg/iron-iconset-svg.html">

<iron-iconset-svg name="br-icons">
<svg>
  <defs>
    <symbol id="icon-check" viewBox="0 0 1024 1024">
      <title>check</title>
      <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 1024 1024">
      <title>close</title>
      <path d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"></path>
    </symbol>
  </defs>
</svg>
</iron-iconset-svg>